{% extends 'base.html' %}
{% block contents %}
{% load static %}
<header>

<main>
    <!--? slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9">
                            <div class="hero__caption ">
                                <h1 > More Than <span>10 Years</span> Of Expirences </h1>
                                <p mb-30>
                                   We are experties financial advisers on general supply, building works, supply materials
                                       civils works ,Mining explorations..</p>
                               <a href=" {% url 'about_page' %}" class="btn">Our Services</a>
                            </div>

                            <!--Hero form -->
                           
                            <!-- Hero Pera -->
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? our info Start -->
  
    <!-- our info End -->
    <!--? Categories Area Start -->
      <!-- Categories Area End -->
    <!--? About Area Start -->
    <div class="about-low-area padding-bottom p-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 about-container">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>About Us</span>
                            <h2>We Are The Best Company </h2>
                        </div>
                        <p>Kisasa Trading Company Ltd is a reputable company owned by Tanzanian citizens by 100%. 
                        The company was established since 2009 with the aim of rendering services and general supplies, 
                        Building works and supplying Building Materials, Civil works, Mining explorations works, Soil exploration work.
                        Our in-house investment professionals and financial advisers work in tandem to 
                        build a portfolio that’s laser-focused on achieving your objectives.</p>
                        <div class="text-center">
                            <a href=" {% url 'about_page' %}" class="btn btn-about">More About Us</a>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>

    <div class="categories-area section-padding30">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-40">
                        <span>Our Services</span>
                        <h2>What We Can Do For You</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-plane"></span>
                            
                        </div>
                        <div class="cat-cap"> 
                            <h5><a href="{% url 'service_page' %}">Financial advisers</a></h5>
                             <p>Our in-house investment professionals and financial advisers work in tandem 
                                to build a portfolio that’s laser-focused on achieving your objectives..</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'service_page' %}">General Suppply </a></h5>
                            <p>Kisasa Trading Co Ltd understands the need for high quality products and materials. 
                                we offers a comprehensive procurement services ..</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-ship"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'service_page' %}">Civil & Building Works</a></h5>
                            <p>Building Division is one of the core division of the company, having done 
                                some sophisticated projects we managed to deliver them on time with the best quality as expected...
                               </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{% url 'service_page' %}" class="btn pull-center servicelink">View More</a>
            </div>
  
        </div>
    </div>
    
 <!--? Testimonial Start -->
 <div class="testimonial-area testimonial-padding section-bg" data-background="{% static 'assets/img/gallery/section_bg04.jpg'%}">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-7 col-lg-7">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 mb-25">
                    <span>Clients Testimonials</span>
                    <h2>What Our Clients Say!</h2>
                </div> 
                <div class="h1-testimonial-active mb-70">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial ">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <p>They give us awesome services.</p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-img">
                                    <img src="{% static 'assets/img/gallery/Homepage_testi.png'%}" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>John Samweli</span>
                                    <p>TPDC in Mtwara</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial ">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <p>They give us awesom sevices.</p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-img">
                                    <img src="{% static 'assets/img/gallery/Homepage_testi.png'%}" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>John Samweli</span>
                                    <p>TPDC in Mtwara</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form Start -->
            <div class="col-xl-4 col-lg-5 col-md-8">
                <div class="testimonial-form text-center">
                    <h3>Always listening, always understanding.</h3>
                    
                    
                    <a href="{% url 'contact_page' %}" class="btn pull-center servicelink">Get A Quotes</a>
                </div>
            </div>
            <!-- Form End -->
        </div>
    </div>
</div>
  
    <!--Team Ara Start -->
    <div class="team-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Our Team Mambers</span>
                        <h2>We Make Sure We Give What You Deserve</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-team mb-30 text-center">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team1.jfif'%}" alt="">
                            <div class="team-caption">
                                <h3><a href="#">(Major rtd) Joseph Sengo Mkunda</a></h3>
                                <p>Manage Director</p>
                                <!-- Blog Social -->
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-team mb-30 text-center">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team2.JFIF '%}" alt="">
                            <div class="team-caption">
                                <h3><a href="#">Richard Michael Masanja</a></h3>
                                <p> Director (Finance & Administration). <t/p>
                                <!-- Blog Social -->
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <!-- Team Ara End -->
    
    <!-- Testimonial End -->
    <!--? Blog Area Start -->
  
</main>

{% endblock contents %}